<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to SNS</title>
      {% endif %}
      <script src='/static/Chart.min.js'></script>
      <script src="/static/utils.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" href="/static/logo-transp.png">
      <link rel="stylesheet" href="/static/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body >
        <div class="hero-image">
            <div class="hero-text">
                <img src="/static/logo-full.png" width="400" height="auto">
                <h2><a href="/" style="color:#000000;"> Research </a> | <a href="/scrap" style="color:#000000;"> Scrap </a></h2>
                <p>Not just another OSINT tool</p>
                <form method="POST" action="/" class="example" style="margin:auto;max-width:500px">
                    {{ form.csrf_token }}
                    {{ form.search(placeholder="Search user..") }}
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
          </div>
        {% block content %}{% endblock %}
    </body>
</html>