{% extends "base.html" %}

{% block content %}
<div class="general">
    <link rel="stylesheet" href="/static/styles.css">

    <h1>General Overview</h1>
    <!-- bar chart canvas element -->
    <div class="wrapper">
        <div id="content">
            <canvas id="top10UsersByVideoCount" width="300" height="300"></canvas>
        </div>

        <div id="content">
        <canvas id="explicitCountByCategory" width="300" height="300"></canvas>
        </div>

        <div id="content">
        <canvas id="top10BrandByCount" width="300" height="300"></canvas>
        </div>
    </div>

    <script>

        top10User = {{ charts.top10User|tojson }}
        explicitCountData = {{ charts.explicitCount|tojson }}
        top10Brand = {{ charts.top10Brand|tojson }}

    </script>
    <script src="static/customCharts.js"></script>
</div>
{% endblock %}